%dl
  -add_list_section "Name:", contact[:name]
  -add_list_section "Organization:", contact[:organization]
  -add_list_section "Address:", contact[:address]
  -add_list_section "City:", contact[:city]
  -add_list_section "Zip Code:", contact[:zip]
  -add_list_section "State:", contact[:state]
  -add_list_section "Сountry:", "#{contact[:country]}(#{contact[:country_code]})"
  -add_list_section "Phone:", contact[:phone]
  -add_list_section "Fax:", contact[:fax]
  -add_list_section "Email:", contact[:email]