= form_tag create_domain_path do
  = text_field_tag "domain_request", "", :class => "span12", :placeholder => "your-domain.com", :id => "domain-input"
  = button_tag :class => "btn btn-large" do
    %i.icon-search
    Search!
